@charset "utf-8";
.singleE {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.orange {
  color: #fba432;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: none;
  color: #333;
}
body {
  font-size: 14px;
}
.layer {
  width: 1200px;
  margin: 0 auto;
}
.inputWrapper {
  display: flex;
}
.inputWrapper input {
  height: 30px;
  padding: 5px;
  border: 2px #c8c8c8 solid;
  border-radius: 6px;
}
.input-s {
  width: 85px;
}
